
<h2><%= @artists.length <= 0 ? "No Artists" : '' %></h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Artist Name</th>
      <th scope="col">View Songs</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td> <%= artist.name %> </td>
      <td> <%= link_to 'Songs', artist %> </td>
      <td> <%= link_to 'Edit', edit_artist_path(artist) %> </td>
      <td> <%= link_to 'Delete', @artist, method: :delete %> </td>
    </tr>
      <% end %>
  </tbody>
</table>

<div class="chart-footer">
<%= link_to 'New artist', new_artist_path %>
</div>